[submodule "lib/sokol"]
	path = lib/sokol
	url = https://github.com/floooh/sokol.git
[submodule "lib/JoltPhysics"]
	path = lib/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics.git
[submodule "lib/rres"]
	path = lib/rres
	url = https://github.com/raysan5/rres.git
[submodule "lib/clay"]
	path = lib/clay
	url = https://github.com/nicbarker/clay.git
[submodule "lib/embree"]
	path = lib/embree
	url = https://github.com/RenderKit/embree.git
