# Ignore temporary files
*.tmp
*.swp
*.a
*.patch
.DS_Store

# Ignore build artifacts
/build/bin
*.o
*.so
*.exe

/assets/
/build/
/tools/
/goldgdt/
/ericw-tools/
/mc_build/
/.cache/

# Ignore IDE/editor configurations
.vscode/
*.sublime-workspace
*.sublime-project

# Ignore sensitive files
.env
secrets.txt
*.md 
